  <!-- show: display each song's genre/artist and link to respective genre & artist show pages -->

  <h1>My Song</h1>
  <p><%= @song.name %></p>

  <h3>Artist</h3>
  <a href="/artists/<%= @artist.id %>"><%= @artist.name %></a>
  <br></br>

  <a href="/artists/<%= @artist.id %>/edit">Edit Artist</a>

  <h3>Genre</h3>
  <a href="/genres/<%= @genre.id %>"><%= @genre.name %></a>
  <br></br>

  <a href="/genres/<%= @song.genre_id %>/edit">Edit Genre</a>
  <br></br>
    <br></br>
  <a href="/songs/<%= @song.artist_id %>/edit">Edit Song</a>


  
