<h1><%=@song.name%></h1>
<h2>My Genres</h2>
    <li style="list-style-type: none;"><a href="/genres/<%=@genre.id%>"><%= @genre.name%></a></li>
<h2>My Artist</h2>
    <li style="list-style-type: none;"><a href="/artists/<%=@artist.id%>"><%= @artist.name%></a></li>